#!/usr/bin/env rc
#!/opt/plan9/bin/rc -x

dotsurf=$HOME/.surf
cookies=$dotsurf/cookies.txt
logfile=$dotsurf/surf-download.rc.log

fn log {
  now=`{date '+%Y-%m-%d %H:%M:%S'}
  echo '['$"now']' $* >> $logfile
}

DWN_CMD=wget
DWN_URI=$1
DWN_DIR=$HOME/Downloads/surf/
DWN_OPT_LOG='--output-file='^$dotsurf/wget.log
DWN_OPT_TRG='--directory-prefix='^$DWN_DIR
DWN_OPT_COK=('--load-cookies' $cookies)

CMD=($DWN_CMD $DWN_OPT_LOG $DWN_OPT_TRG $DWN_OPT_COK)

log $CMD $DWN_URI

# Execute download command
# e.g.: wget -o ~/.surf/wget.log --load-cookies ~/.surf/cookies.txt '$0';
$CMD $DWN_URI
result=$status
#log 'Result: '$result
if(test $result -eq 6){
  log 'Asking for username and password'
  user=`{dmenu -p 'User: ' <[0=]}
  pass=`{dmenu -p 'Pass: ' -nf black -nb black -sf black -sb white <[0=]}
  $CMD '--user='^$user '--password='^$pass $DWN_URI
}
# vim:ft=rcsh
